# raylib
_build
_bin
.vs
/bin
/build
Makefile
obj

=======
# make sure we're not committing actual U7 stuff
resources/Data/U7/blackgate*
resources/Data/U7/serpentisle*
resources/Data/U7/

# ignore screenshots
resources/*.png
