/U7Revisited/x64
/x64
/.vs
/Linux/U7Revisited/build
/Linux/U7Revisited/dist
/Redist/Data/U7
!Redist/Data/U7/U7.txt

/subprojects/raylib/
/subprojects/packagecache/
*.o
*.d
liblua.a
cmake-build-debug/

# Build artifacts and executables
ThirdParty/lua/src/lua
ThirdParty/lua/src/luac
Build/
build/
build-*/

.idea/
